* {
    margin: 0;padding: 0;
    font-size: 16px;line-height: 1.5;text-decoration: none;
    color: #000;
    list-style: none;
    box-sizing: border-box;
}

header {
    position: fixed;top: 0;left: 50%;
    z-index: 9999;
    width: 100%;
    transform: translateX(-50%);
}
header.sticky {
    background: #fff;
}
header .head-wrap {
    display: flex;justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    min-width: 980px;
    margin: auto;
}
header h1 {
    width: 20%;
}
header h1 a {
    display: block;
    height: 100px;
    background: url(../images/logo.png) 0 50% no-repeat;
    text-indent: -9999px;
}
header nav {
    width: 60%;
}
header .nav-depth1 {
    display: flex;
    justify-content: space-around;
}
header .nav-depth1 > li {
    position: relative;
    width: 25%;
}
header .nav-depth1 > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 18px;
}
header .nav-depth1 > li:hover > a {
    border-bottom: 3px solid #e42022;
}
header .nav-depth1 > li:hover .nav-depth2 {
    max-height: 200px;
}
header .nav-depth2 {
    position: absolute;top: 100px;left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    background: rgba(255,255,255,.7);
    display: flex;align-items: center;
    flex-direction: column;
}
header .nav-depth2 li {
    width: 100%;
}
header .nav-depth2 a {
    display: block;
    width: 100%;height: 50px;
    line-height: 50px;
    text-align: center;
}
header .nav-depth2 a:hover {
    background: #e42022;
    color: #fff;
}


.slide {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background:#e42022;
}
.slide ul {
    position: absolute; 
    top: 0;
    left: 0;
    /*display: flex;*/
    height: 300vh;
    width: 100vw;
}
.slide li {
    height: 100vh;
}
.slide li:first-child {
    background: url(../images/slide1.jpg) 0 0 no-repeat;
    background-size: cover;
}
.slide li:nth-child(2) {
    background-size: cover;
    background: url(../images/slide2.jpg) 0 0 no-repeat;
}
.slide li:last-child {
    background-size: cover;
    background: url(../images/slide3.jpg) 0 0 no-repeat;
}
.slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.slide p {
    width: 400px;height: 200px;
    background: url(../images/slide-txt.png) 50% no-repeat;
    text-indent: -9999px;
}



.container .col-g {
    max-width: 1400px;
    width: 100%;
    min-width: 980px;
    margin: auto;padding: 100px 0;
    text-align: center;
}
.container .col-g h2 {
    display: inline-block;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    border-bottom: 3px solid #e42022;
}
.container .col-g .cont {
    width: 980px !important;
}
.container .bg-gray {
    background: #eee;
}

/* bbs */
.container .col1 .cont {
    width: 700px;
    margin: auto;
}
.col1 .cont li {
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}
.col1 .cont a {
    display: block;
    height: 50px;
    padding-left: 20px;
    line-height: 50px;
    background: #eee;
    text-align: left;
}
.col1 .cont a span {
    display: inline-block;
    margin-left: 10px;
    color: #999;
    font-size: 13px;
    font-family: verdana;
}
.col1 .cont .las {
    float: right;
    margin: 15px 20px 0 0;
    font-size: 20px;
    color: tomato;
}
.col2 .cont {
    position: relative;
    width: 980px;height: 200px;
    margin: auto;
    overflow: hidden;
}
.col2 ul {
    position: absolute;top: 0;left: 0;
    display: flex;
    width: 300%;
}
.col2 li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.col2 span {
    position: relative;
    width: 30%;height: 200px;
}
.col2 span::after {
    content: '';
    display: block;
    width: 99.4%;
    height: 99%;
    position: absolute;top: 0;left: 0;
    border: 1px solid rgba(0,0,0,.1);
}
.col2 img {
    width: 100%;
    height: 200px;
}

/* banner */
.container .col3 {
    max-width: 100%;
    padding: 0;
    background: #cdeff6;
}
.col3 h2 {
    position: absolute;
    overflow: hidden;
    width: 0;height: 0;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}
.col3 .cont {    
    position: relative;
    height: 330px;
    margin: auto;
    background:url(../images/banner-middle.png) 100% 100% no-repeat;
}
.col3 .ban-txt {
    position: absolute;top: 50px;left: 0;
    width: 610px;
    text-align: left;
}
.col3 .ban-txt b {
    font-size: 22px;
}
.col3 .ban-txt p {
    margin: 10px 0 20px;
    font-size: 14px;color: #333;
}
.col3 .ban-txt a {
    position: relative;
    display: inline-block;
    background: #358B82;
    padding: 8px 100px 8px 20px;
    color: #fff;
    border-radius: 40px;
}
.col3 .ban-txt i {
    position: absolute;top: 10px;right: 20px;
    color: #fff;
    font-size: 20px;
}

.col4 .tab-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 520px;
}
.col4 .tab-g {
    width: 30%;
}
.col4 .tab-g h3 {
    background: #ddd;
    border-radius: 10px;
    padding: 15px 20px;
}
.col4 .tab-g.on h3 {
    background:#e42022;
}
.col4 .tab-g.on h3 a {
    color: #fff;
}
.col4 .tab-g ul {
    position: absolute;top: 100px;left: 0;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col4 .tab-g.on ul {
    display: flex;
}
.col4 .tab-g ul li {
    margin-bottom: 20px;
}
.col4 .tab-g ul a {
    position: relative;
    display: block;
    height: 225px;
}
.col4 .tab-g ul a::after {
    content: '';
    display: block;
    width: 99.4%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgba(0,0,0,.1);
}

footer {
    padding: 50px 0;
    background: #555;
    text-align: center;
}
footer * {
    color: #fff;
}
footer address {
    font-style: normal;
    margin: 30px 0 5px;
}
footer .info a {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}
footer .info a::before {
    content: '';
    position: absolute;top: 3px;left: 0;
    width: 1px;height: 16px;
    background:#fff;
    opacity: .5;
}
footer .info a:first-child::before {
    display: none;
}
.modal-wrap.on {
    display: flex;
}
.modal-wrap {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 10000;
    background:rgba(0,0,0,.5);
}
#modal {
    width: 30%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}
#modal h2 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
#modal button {
    display: block;
    width: 30%;
    margin: 20px auto 0;padding: 10px 0;
    background: tomato;
    color: #fff;
    border:none;
    border-radius: 5px;
}