* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #222328;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.clear_g::after {
    display: block;
    clear: both;
    content: '';
}


.wrap {
    width: 1200px;
    margin: 0 auto;
}

header {    
    position: relative;
    z-index: 1000;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
header h1 a {
    display: block;
    width: 200px;
    height: 100px;
    margin-left: 20px;
    background: url(../images/logo.png) 0 50% no-repeat;
    text-indent: -9999px;
}

header nav {
    width: 50%;
}
header .nav-depth1 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}
header .nav-depth1 > li {
    position: relative;
    width: 25%;
    text-align: center;
}
header .nav-depth1 > li > a {
    display: block;
    height: 100px;
    line-height: 100px;
    transition: all .5s;
}
header .nav-depth1 > li > a:hover {
    background: tomato;
    color: #fff;
}

header .nav-depth2 {
/*    display: none;*/
    position: absolute;
    top: 100px;left: 0;
    width: 100%;padding-top: 20px;
    transition: all .5s;
    height: 0;opacity: 0;
    overflow: hidden;
    transition: all .2s;
}
header nav:hover .nav-depth2,
header nav.active .nav-depth2 {
    height: 200px;opacity: 1;
}

header .nav-depth2 a {
    display: block;
    padding: 10px 0;
    color: #fff;
}
header .nav-depth2 a:hover {
    color: tomato;
}
.nav-bg {
/*    display: none;*/
    position: absolute;
    top: 100px;left: 0;right: 0;
/*    width: 100%;*/
    height: 0;
    opacity: 0;
    background: #555;
    transition: all .5s;
}
header nav:hover .nav-bg,
header nav.active .nav-bg{
/*    display: block;*/
    height: 200px;
    opacity: 1;
}

/* nav에 마우스 오버시 
.nav-depth2와 .nav-bg를 display:block */



.slide {    
    position: relative;
    overflow: hidden;
    height: 300px;
}
.slide ul {
    position: absolute;
    top: 0;left: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    width: 300%;
}
.slide a {
    display: block;
    height: 300px;
}
.slide li {
    width: 100%;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;  
    background-repeat: no-repeat;
}
.slide li:first-child {
    background-image: url(../images/slide1.jpg);   
}
.slide li:nth-child(2) {
    background-image: url(../images/slide2.jpg); 
}
.slide li:last-child {
    background-image: url(../images/slide3.jpg);   
}
.slide p {
    position: absolute;
    top: 100px;left: 100px;
/*    width: 400px;*/
    font-size: 30px;
    color: #333;
    letter-spacing: -1px;
}
.slide p b {
    display: block;
    font-size: 40px;
    color: tomato;
}

/*
.slide img {
    width: 100%;
}
*/

.container {
    overflow: hidden;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 20px 0;
}
.container img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.container section {
    width: 30%;
}
.container section:first-child {
    width: 40%;
}
.container section:nth-child(2) {
    width: 20%;
}

.container h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

/*tab*/
.col1 {
    display: flex;
    position: relative;
}
.col1 > div {
    width: 50%;
}
.col1 h2 {
    height: 26px;
    /* background: #eee; */
    text-align: center;
    line-height: 26px;
    border-bottom: 1px solid #333;
}
.col1 .cont {
    width: 100%;
    display: none;
    position: absolute;
    top: 38px;left: 0;
}
.col1 .on .cont {
    display: block;
}
.col1 .on h2 {
    background:#333;
}

.col1 .on h2 a{
    color: #fff;
}
.tab-gallery {
    /* display: none; */
}
.tab-gallery ul {
    display: flex;
    justify-content: space-between;
}
.tab-gallery li {
    width: 30%;
}
.tab-gallery img {
    height: 130px;
    object-fit: cover;
}
.tab-bbs {
    /* display: none; */
}
.tab-bbs a {
    display: block;
    padding: 5px 0 5px 10px;
}
.tab-bbs span {
    float: right;
    font-size: 12px;
    color: #777;
}
.tab-bbs li {
    position: relative;
}
.tab-bbs li::before {
    position: absolute;
    top: 14px;left: 0;
    content: '';
    display: block;
    width: 4px;height: 4px;
    background: #555;
    border-radius: 50%;    
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: lightgray;
}
footer h1 {
    width: 20%;
}
footer h1 a {
    display: block;
    margin: 30px 0 0 20px;
}
footer h1 img {
    filter: grayscale(50%);
}
footer .copyright {
    width: 40%;
}
footer address {
    margin: 30px 0 10px;
}
footer .sns {
    width: 30%;
    padding-right: 10px;
    text-align: right;
}
footer .sns a {
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
}

#modal {
    position: relative;
    /* display: none; */
    width: 30%;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 30px;
}
#modal h2 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
#modal button {
    position: absolute;
    top: -20px;right: -20px;
    width: 50px;height: 50px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff url(../images/ico-close.png) 50% 50% no-repeat;
    background-size: 70% auto;
    text-indent: -9999px;
}
.modal-wrap {
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 1100;
    background:rgba(0,0,0,.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-wrap.on {
    display: flex;
}





